/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

#adAmountNumber{
    display:inline;
    font-size: 3em;
    color : green;
}
#adAmountNumberEbay{
    display:inline;
    color : green;
}
#ebayMessage{
    display: inline;
    margin: 0 auto;
    font-size : 1.5em;
}
#searchResultEbay{
    text-align: center;
    display: inline;
    margin: 0 auto;
    font-size : 1.5em;
}
#userSearchDiv{
    font-size: 3em;
    color : blue;
    display:inline;
}
/* THIS IS NOT AD AMOUNT */
#adAmount{
    display: inline;
    margin: 0 auto;
    font-size : 1.5em;
}
#adAmountEbay{
    display: inline;
    margin: 0 auto;
    font-size : 2em;
}
#progressText{    
    display: none;   
    font-size: 2em;
}

#loadingIcon{
    width: 100px;
    height: 100px;
}

p{
    color:black;
}
.result{
    align-content: center;
    
}
#cat{
    height : 50%;
    width : 70%;
}
canvas{
    width : 50px;
    height : 50px;
}
#kijijiBar{
    width : 100%;
    height : 85px;
    padding-bottom: 15px;
    padding-top : 15px;
    padding :20px 20px;
    background-color: #403e7c;
    display: inline-block;
    color: white;
    font-size: 1.3em;
}
img{
    height: 45px;
    width: 110px;
    padding-left: 20px;
}
.inlineClass{
    display: inline-block;
}
#inlineText{
    border-top: 30px;
    font-family: 'Nova Flat';
    font-size: 25px;
}




a{
    color:white;

}


.p-2{
  color:white;
}

#searchWrapper{
    margin:0 auto;
    width: 40em;
    padding-top : 10px;
}
.textSearch{
    outline-width: 0;
    outline: none;
    background-color: white;
    border: 1px #DEDEE1 solid;
    
 

    color: #3E414F;
 
    font: 400 13.3333px Arial;
    font-size: 16px;
    height : 45px;
 
}   
button{
    height :45px;
    width: 78px;
    background: url(searchIcon.png);
}
searchIcon{
    
    height :40px;
    width: 68px;
}
#userLocation{
    
}

#searchResult{
    text-align:center;
}
#averageResult{
    font-size: 4em;
}
#averageResultEbay{
    font-size: 2em;
    display:inline;
}
#divMedian{
    font-size: 4em;
}
#divMode{
    font-size: 4em;
}